@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 960px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 680px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 680px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 6px;
  }
}

body {
  margin: 0;
  font-family: "Varta", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0px 0.75rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1.5rem;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  border-bottom: 2px solid rgba(243, 244, 246, 0.25);
}
.navbar__button {
  color: #1F2937;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 1rem 2.00375rem 1rem 1.9375rem;
  border-radius: 624.9375rem;
  border: none;
  opacity: 0.75;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.navbar__logo {
  background-image: url("./img/Logo.svg");
  width: 11.42562rem;
  height: 2.5rem;
  background-size: cover;
}
@media (max-width: 860px) {
  .navbar__logo {
    scale: 0.72507;
  }
}
.navbar__link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}
.navbar__link:hover {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.navbar__link:active {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.navbar__burger {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
}

.burger {
  display: none;
}
@media (max-width: 860px) {
  .burger {
    display: flex;
    align-items: center;
  }
}

.navbar__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.box {
  display: none;
}

.burger_span {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: #9D174D;
}

.navbar__burger__label__block {
  display: none;
}
@media (max-width: 860px) {
  .navbar__burger__label__block {
    display: flex;
  }
}

.burger_label {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 24px;
}

.burger_bottom {
  margin-bottom: 5px;
}

@media (max-width: 860px) {
  .navbar__link {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 1.88rem;
  }
}

@media (max-width: 860px) {
  .navbar__link:hover {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    padding-bottom: 1.88rem;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -2%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.navbar__menu {
  display: flex;
  align-items: center;
}
@media (max-width: 860px) {
  .navbar__menu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 18.125rem;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    top: 100%;
    width: 100%;
    left: -1px;
    flex-direction: column;
  }
}

@media (max-width: 860px) {
  .navbar__link__first {
    padding-top: 2.25rem;
  }
}

@media (max-width: 860px) {
  #myCheckbox:not(:checked) ~ .navbar__menu {
    animation: fadeOutUp 0.3s ease-in-out forwards;
  }
}

@media (max-width: 860px) {
  #myCheckbox:checked ~ .navbar__menu {
    animation: fadeIn 1s ease-in-out;
  }
}

.header {
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
  width: 100%;
}
.header_frame {
  background-image: url("./img/frame_new.svg");
  height: 176px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 2.8rem 12.09063rem 1.5rem 0.75rem;
}
@media (max-width: 1500px) {
  .header_container {
    padding: 2.8rem 5.09063rem 1.5rem 0.75rem;
  }
}
@media (max-width: 1400px) {
  .header_container {
    padding: 2.8rem 0rem 1.5rem 0.75rem;
  }
}
.header_text_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-top: 7.77rem;
}
.header_hero_block {
  width: 45.35938rem;
  height: 39.14375rem;
  background-image: url(./img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scale: 1;
}
@media (max-width: 1400px) {
  .header_hero_block {
    width: 22.875rem;
    height: 19.74rem;
  }
}
@media (max-width: 1180px) {
  .header_hero_block {
    width: 22.875rem;
    height: 19.74rem;
  }
}
.header_h1 {
  color: #fff;
  font-style: "Varta", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  padding-top: 1.13rem;
}
.header_h2 {
  color: #FFF;
  font-style: "Varta", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
}
.header_h3 {
  color: #fff;
  font-size: 1rem;
  font-style: "Varta", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.header_button {
  color: #1F2937;
  text-align: center;
  font-style: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 1rem 1.9925rem 1rem 2rem;
  align-items: flex-start;
  border-radius: 624.9375rem;
  background: #FFF;
  border: none;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.header_block_2 {
  padding: 0rem 14rem 1.5rem 14rem;
}

.main {
  width: 100%;
  /*main_block_2*/
  /*main section3*/
}
.main_section_1 {
  width: 100%;
  border-bottom: 1px solid #E5E7EB;
  background: #FFF;
}
.main_block_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  padding: 4rem 0 5.56rem;
}
.main_title_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_title {
  color: #1F2937;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
}
.main_title_line {
  width: 16rem;
  height: 0.25rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  opacity: 0.25;
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
}
.main_h2 {
  color: #1F2937;
  font-family: "Varta", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  padding-top: 1.25rem;
}
.main_text {
  width: 27.83875rem;
  color: #4B5563;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0.5rem 0rem 1.75rem 0rem;
}
.main_text_2 {
  color: #4B5563;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.main_text_link {
  color: #EC4899;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration-line: underline;
}
.main_text_block_image_1 {
  width: 29rem;
  height: 16rem;
  background-image: url("./img/info.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1.25rem;
}
.main_text_block_image_2 {
  width: 24.16625rem;
  height: 16rem;
  background-image: url("./img/map.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main_text_block_1 {
  display: flex;
  padding-top: 1rem;
}
.main_text_block_2 {
  display: flex;
  padding-top: 3rem;
}
.main_text_block_1_sectioin_1 {
  padding-right: 1.5rem;
}
.main_text_block_2_sectioin_1 {
  padding-left: 5.42rem;
}
.main_section_2 {
  width: 100%;
  border-bottom: 1px solid #E5E7EB;
  background: #FFF;
}
.main_block_2 {
  display: flex;
  flex-direction: column;
  height: 35.3125rem;
  padding: 3.5rem 0rem 2.0625rem 0rem;
}
.main_cads_block {
  display: flex;
}
.main_card {
  width: 29rem;
  margin: 1.5rem;
}
@media (max-width: 1180px) {
  .main_card {
    margin: 0.5rem;
  }
}
.main_card_h3 {
  color: #4B5563;
  font-family: "Varta", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0rem 4rem 0rem 1.5rem;
}
.main_card_h2 {
  color: #1F2937;
  font-family: "Varta", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 0rem 4rem 0rem 1.5rem;
}
.main_card_text {
  color: #1F2937;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0rem 4rem 0rem 1.5rem;
}
.main_card_text_block {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.main_card_button_block_1 {
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 3rem 0rem 3rem 1.5rem;
  display: flex;
  justify-content: flex-start;
}
.main_card_button_block_2 {
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
}
.main_card_button_block_3 {
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 3rem 1.5rem 3rem 0rem;
  display: flex;
  justify-content: flex-end;
}
.main_card_button {
  padding: 1rem 2.00375rem 1rem 1.9375rem;
  color: #FFF;
  border-radius: 624.9375rem;
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.main_section_3 {
  width: 100%;
  height: 50.75rem;
  background: #F3F4F6;
}
.main_prices_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_prices_title_block {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.main_prices_h2 {
  color: #1F2937;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  padding-top: 3.5rem;
}
.main_prices_hr {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  opacity: 0.25;
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
  width: 16rem;
  height: 0.25rem;
}
.main_prices_card_section {
  display: flex;
  padding-top: 2.5rem;
}
.main_prices_card_block {
  height: 34.25rem;
  width: 23.75rem;
  padding-top: 2.5rem;
}
@media (max-width: 1280px) {
  .main_prices_card_block {
    width: 19rem;
  }
}
@media (max-width: 1180px) {
  .main_prices_card_block {
    width: 15.45rem;
  }
}
.main_prices_card_block_center {
  width: 31.66625rem;
}
@media (max-width: 1280px) {
  .main_prices_card_block_center {
    width: 25.333rem;
  }
}
@media (max-width: 1180px) {
  .main_prices_card_block_center {
    width: 18.99975rem;
  }
}
.main_prices_card {
  width: 100%;
  background-color: #FFF;
}
.main_prices_card_titel_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_prices_card_titel_block_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.main_prices_card_title {
  width: 100%;
  color: #4B5563;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  padding: 2rem 0rem 2.25rem 0rem;
  border-bottom: 4px solid #E5E7EB;
}
.main_prices_card_title_c {
  color: #1F2937;
  width: 100%;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  padding: 2rem 0rem 2rem;
}
.main_prices_card_title_c_hr {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
}
.main_prices_card_shadow {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-bottom: 2.06rem;
}
.main_prices_card_shadow_c {
  width: 100%;
}
.main_prices_card_text {
  color: #4B5563;
  border-bottom: 1px solid #E5E7EB;
  padding: 1rem 0rem 1.0625rem 0rem;
  width: 100%;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.main_prices_card_text_c {
  color: #1F2937;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  border-bottom: 1px solid #E5E7EB;
  padding: 1.12rem 0rem 1.0625rem 0rem;
}
.main_prices_card_cost {
  color: #4B5563;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  display: flex;
  align-items: flex-end;
  padding: 3rem 0 1.5rem;
}
.main_prices_card_cost_c {
  color: #4B5563;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  display: flex;
  align-items: flex-end;
  padding: 3rem 0 1.2rem;
}
.main_prices_card_cost_block {
  display: flex;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  background: #FFF;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.main_prices_card_cure {
  color: #4B5563;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
.main_prices_card_cure_c {
  color: #1F2937;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}
.main_prices_card_cure_2 {
  position: relative;
  top: -5px;
  left: 3px;
}
.main_prices_card_cure_2_c {
  color: #1F2937;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  position: relative;
  left: 3px;
  top: -9px;
}
.main_prices_button {
  color: #FFF;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 1rem 1.93938rem 1rem 2rem;
  border-radius: 624.9375rem;
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 3rem;
}

.footer {
  width: 100%;
  color: #000;
}
.footer_frame {
  width: 100%;
  background-image: url("./img/footer.svg");
  background-size: cover;
  height: 12.25813rem;
}
.footer_block {
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
  height: 34.152rem;
}
.footer_block_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_h2 {
  padding-top: 2rem;
  color: #FFF;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  padding-bottom: 0.5rem;
}
.footer_hr {
  width: 16rem;
  height: 0.25rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  opacity: 0.25;
  background: #FFF;
}
.footer_h3 {
  color: #FFF;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  padding: 0.94rem 0rem 2.53rem;
  line-height: 2.34375rem; /* 125% */
}
.footer_button {
  color: #1F2937;
  padding: 1rem 1.96875rem 1rem 2rem;
  border-radius: 624.9375rem;
  background: #FFF;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}
.footer_link {
  background-image: url("./img/Link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 11.42562rem;
  height: 2.8125rem;
}
.footer_block_2 {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.footer_liks_main {
  color: #6B7280;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  text-transform: uppercase;
}
.footer_liks_second {
  color: #1F2937;
  padding: 1.5rem 0;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.footer_liks_second_element {
  padding-bottom: 0.5rem;
}/*# sourceMappingURL=applications.css.map */