@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Varta", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0px 0.75rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1.5rem;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  border-bottom: 2px solid rgba(243, 244, 246, 0.25);
}
.navbar__button {
  color: #1F2937;
  text-align: center;
  font-family: "Varta", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 1rem 2.00375rem 1rem 1.9375rem;
  border-radius: 624.9375rem;
  border: none;
  opacity: 0.75;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.navbar__logo {
  background-image: url("./img/Logo.svg");
  width: 11.42562rem;
  height: 2.5rem;
}
@media (max-width: 860px) {
  .navbar__logo {
    scale: 0.72507;
  }
}
.navbar__link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}
.navbar__link:hover {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.navbar__link:active {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.navbar__burger {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
}

.burger {
  display: none;
}
@media (max-width: 860px) {
  .burger {
    display: flex;
    align-items: center;
  }
}

.navbar__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.box {
  display: none;
}

.burger_span {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: #9D174D;
}

.navbar__burger__label__block {
  display: none;
}
@media (max-width: 860px) {
  .navbar__burger__label__block {
    display: flex;
  }
}

.burger_label {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 24px;
}

.burger_bottom {
  margin-bottom: 5px;
}

@media (max-width: 860px) {
  .navbar__link {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 1.88rem;
  }
}

@media (max-width: 860px) {
  .navbar__link:hover {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    padding-bottom: 1.88rem;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -2%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.navbar__menu {
  display: flex;
  align-items: center;
}
@media (max-width: 860px) {
  .navbar__menu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 18.125rem;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    top: 100%;
    width: 100%;
    left: -1px;
    flex-direction: column;
  }
}

@media (max-width: 860px) {
  .navbar__link__first {
    padding-top: 2.25rem;
  }
}

@media (max-width: 860px) {
  #myCheckbox:not(:checked) ~ .navbar__menu {
    animation: fadeOutUp 0.3s ease-in-out forwards;
  }
}

@media (max-width: 860px) {
  #myCheckbox:checked ~ .navbar__menu {
    animation: fadeIn 1s ease-in-out;
  }
}

.header {
  background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
  width: 100%;
}
.header_frame {
  background-image: url("./img/frame_new.svg");
  height: 176px;
  width: 100%;
  background-repeat: no-repeat;
}
.header_container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 2.8rem 12.09063rem 1.5rem 0.75rem;
}
.header_text_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-top: 7.77rem;
}
.header_hero_block {
  width: 45.35938rem;
  height: 39.14375rem;
  background-image: url(./img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scale: 1;
}
.header_h1 {
  color: #fff;
  font-style: "Varta", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  padding-top: 1.13rem;
}
.header_h2 {
  color: #FFF;
  font-style: "Varta", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
}
.header_h3 {
  color: #fff;
  font-size: 1rem;
  font-style: "Varta", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.header_button {
  color: #1F2937;
  text-align: center;
  font-style: "Varta", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 1rem 1.9925rem 1rem 2rem;
  align-items: flex-start;
  border-radius: 624.9375rem;
  background: #FFF;
  border: none;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.main {
  height: 500px;
  width: 100%;
}/*# sourceMappingURL=applications.css.map */