header {
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    width: 100%;
    height: 500px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    border-bottom: 2px solid rgba(243, 244, 246, 0.25);
    
    &__button {
        color: #1F2937;
        text-align: center;
        font-family: $font;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
        padding: 1rem 2.00375rem 1rem 1.9375rem;
        border-radius: 624.9375rem;
        border: none;
        opacity: 0.75;
        background: #FFF;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    }

    &__logo {
        background-image: url('./img/Logo.svg');
        width: 11.42562rem;
        height: 2.5rem;
    }

    &__link {
        display: block;
        padding: 0.5rem 1rem;
        font-size: $size-md;
        transition: all 0.1s ease-in-out;
        &:hover {
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5rem;
        }

        &:active{
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5rem;
        }
    }

    

    &__burger{
        display: none;
        width: 1.5rem;
        height: 1.5rem;
    }

  }

.burger {
    display: none;
    @media (max-width: 860px) {
        display: flex;
        align-items: center;
    }
}

.navbar__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.box {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    left: 27px;
    //opacity: 0;
}

.burger_span {
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: #9D174D;
}

.navbar__menu {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    @media (max-width:860px) {
        display: none;
        position: absolute;
    }
}

.navbar__menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Висота лінії */
    background: #000; /* Колір лінії */
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Час анімації */
}

.navbar__burger__label__block {
    display: flex;
}

.burger_label {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    left: 24px;
}

.burger_bottom {
    margin-bottom: 5px;
}

#myCheckbox:checked ~ .navbar__menu {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    flex-direction: column;
    opacity: 1;
    animation: fade-in 1s ease-in-out;
}

#myCheckbox:checked ~ .navbar__menu::after {
    opacity: 0;
}

#myCheckbox:not(:checked) ~ .navbar__menu {
    animation: fade-out 1s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}





nav .box:checked ~ .a {
    color: green;
    font-size: 36px;
}

nav .box:checked ~ .b {
    color: rgb(128, 36, 0);
    font-size: 36px;
}